* {
    text-align: center;
  }
  
  .Container {
    padding: 20px 0; /* Set equal padding on top and bottom */
     /* Simplify border shorthand */
    color:#E8D5B5;
    background-color: #573294;
    
    
  }
  
  