.todo_list{
    
    background-color: #573294;
   

}   

h2{
    position: relative;
    left: -225px;
    color:#E8D5B5;
}



.work_preview{
    background-color:#573294;
    border: solid black;
    height: 100px;
    width: 100px;
    
}